body
{
    background-color: white;
}

.header1
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1
{
    margin-left: 40%;
    margin-right: 40%;
}

.email1
{
    display:flex;
    justify-content: center;

}
#email
{
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;

}
#email1 :focus
{
    border-color: black;
}


.password1
{
    display: flex;
    justify-content: center;
}

#password
{
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
}
#password:focus
{
    border-color: black;
}

.login2
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#email
{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}

#password
{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}

.bott
{
    display: flex;
    justify-content: center;
}

.login3 
{   
  background-color: #3D3E42;
  height: 40px;
  width: 100px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;

  border: none;
  border-radius: 16px;
  justify-content: center;

}

.login2 :hover
{
    background-color: turquoise;
    color: #232525;
    border-radius: 16px;
}

.box
{
    background-image: linear-gradient(to bottom right, #1d1772, #8f91c9);
    height: 100px;
    width: 100%;

}

.logo
{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box .logo 
{
    height: 90px;
    width: auto;
    align-items: center;
  
}

.box
{
    display: flex;
    justify-content: center;
    align-items: center;
}




.register 
{
    background-color: #3D3E42;
    height: 40px;
    width: 100px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border: none;
    border-radius: 16px;
    justify-content: center;


}

.logo1 
{
    height: 70%;
    width: auto;
}
.buttonhead
{
    justify-content: center;
    align-items: center;
}

.register
{
    display: inline-block;
    justify-content: center;

    

    
}
.register:hover
{
    background-color: turquoise;
    color: #232525;
}

.login1
{
    background-color: #3D3E42;
    height: 40px;
    width: 100px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border: none;
    border-radius: 16px;
}

.login1:hover
{
    background-color: turquoise;
    color: #232525;
}

.login1
{
    display: inline-block;
    justify-content: center;
}

.headertext
{
    color: whitesmoke;
    font-size: 40px;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
  
li 
{
    float: left;
}
  
li a, .dropdown69butt
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .dropdown69:hover .dropdown69butt
{
    background-color: turquoise;
    color: #232525;
}
  
li.dropdown69
{
    display: inline-block;
}
  
.dropdown69-content 
{
    display: none;
    position: absolute;
    background-color: #232525;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown69-content a
{
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.dropdown69-content a:hover 
{
    background-color: turquoise;
    color: #232525;
}
  
.dropdown69:hover .dropdown69-content 
{
    display: block;
}

.home69
{
    background-color: turquoise;
    color: #232525;
}

.footer
{
    background-color: #222421 ;
    height: 100px;
    width: 100%;
    margin-top: 100px;
}

.logofoot
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textfoot
{
    text-align: center;
    color: whitesmoke;
    font: serif;
    font-size: 13px;
}